html, body {
    height: 100%;
    margin: 0;
}
#jatekter {
    background-image: url("Media/hatter.png");
    width: 600px;
    height: 600px;
    border: 10px #000000 solid;
    position: relative;
    margin: 0 auto;
}
div img {
    position: absolute;
}
#player {
    position: absolute;
}
body {

    background-image: url('Media/masikHatter.jpg');
    background-size: 100% 100%;
    background-repeat: inherit;
}

#ido {
    display: flex;
    border: 10px #000000 solid;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 1%;
    height: 20px;
    background-color: #f7f7eb;
    width: 600px;
    justify-content: center;
    align-items: center;
}
p {
    font-family: cursive;
    text-align: center;
}
#pontok p {
    display: flex;
    border: 10px #000000 solid;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    margin-bottom: 1%;
    height: 20px;
    background-color: #f7f7eb;
    width: 600px;
    justify-content: center;
    align-items: center;
    border-top: 0px;
}